:root{
    --accent-color: #2196F3;
    --title-color: #212121;
    --logo-color: #000000;
    --primary-color: #757575;
    --back-fone-color: #F5F5F5;
    --white-color:  #FFFFFF;
    --block-color: #2F303A;
    --back-buttons-color: #F5F4FA;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}


img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    font-weight: 400;
    color: var(--title-color);
    background: var(--white-color)
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left:0;
}

/*logo, header*/

.header{
    background-color: var(--white-color);
}

.header .logo {
color: var(--logo-color);
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
}

.logo span {
  color: var(--accent-color)    
}

.site-nav .link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);

}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus
 {
    color: var(--accent-color);
}

.contact .link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-color)
}


.contact .link:hover,
.contact .link:focus
{
    color: var(--accent-color);
}

.hero {
    background: var(--block-color)
}

.hero-tittle {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}

.hero .button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background: var(--accent-color);
    color: var(--white-color);
    
    cursor: pointer;
}

.filtr .button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background: var(--back-buttons-color);
    color: var(--title-color);
   

    cursor: pointer;
}
.filtr .button .current {
    background-color: var(--accent-color);
    color: var(--white-color);
}

.filtr .current {
    font-size: 16px;
    line-height: 1.87;
    background: var(--accent-color);
    color: var(--white-color);
}

.filtr .button:hover,
.filtr .button:focus {
    background: #2196F3;
    color: var(--white-color);
    cursor: pointer;
}

.feature .sub-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}

.feature .text {
    line-height: 1.71;
    color: var(--primary-color);
}
.works .text{
    font-size: 16px;
    line-height: 1.87;
        color: var(--primary-color);
}

.examples-tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-color)
}

.subtitle-portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color)
}

.subtitle-text{
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}
.team-tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--title-color);
}

.subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    color: var(--title-color);
}

.position{
        font-size: 16px;
        line-height: 1.88;
        color: var(--primary-color);
}

/* Footer*/
 .footer {
    background: var(--block-color);
}

.footer-logo {
    color: var(--white-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

}

.footer-logo span {
    color: var(--accent-color)}

    .adress{
        font-style: normal;
    }

.block-maps {
    line-height: 1.71;
    color: var(--white-color);
}

.block-mail {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.block-number {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.block-mail:hover,
.block-mail:focus,
.block-number:hover,
.block-number:focus{
    color: var(--accent-color);
}